.hulu-plans{
    width: 100%;
    height: 92%;
    background-image: url('/Assets/images/main.jpeg');
    background-size: contain;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color:transparent;
    align-items: center;
    justify-content: space-between;
}

.hulu-logo{
    margin:0 0 0 2.5%;
    position: relative;
    width: 5%;
    height: 70%;
}

.login{
    margin:0 2.5% 0 0;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: darkgray;
    background: transparent;
    }

 .bundle-container{
    width: 100%;
    height: 60%;
 }

.flex-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-container-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.bundle{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: end;
}


.bundle >ul{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    list-style: none;
}


.bundle > ul> li:nth-child(1){
    color: #1ce783;
    font-weight: bold;
   font-family: Graphik,Helvetica,Arial,sans-serif;


}

.bundle>ul>li:nth-child(3){
    color: white;
   font-family: Graphik,Helvetica,Arial,sans-serif;
   font-size: 25px ;
   text-align: center;
    font-weight: bold;
}

.bundle>ul>li:nth-child(2){
    width: 50%;
    height: 20%;
}

.bundle>ul>li:nth-child(4){
    background-color: #1ce783;
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.bundle>ul>li:nth-child(4)>button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: Graphik,Helvetica,Arial,sans-serif;
}

.bundle>ul>li:nth-child(4):hover{
    opacity: 70%;
    transition: 500ms;
}

.terms{
    height: 15%;
    flex-direction: column;
    justify-content: space-around;
}

.terms > a {
    color: white;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    text-decoration: underline;
}

.terms > a:hover {
    opacity: 70%;
}

.terms-apply{
    font-size: medium;
}

.sign-up{
    font-weight: bold;

}

.plans{
    background-color: black;
}
.shows-page{
    height: 150vh;
}

.titles-container{
    height: 20%;
   
}

.titles-container > p {
    font-family: Graphik,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.titles-container > p:nth-child(1){
    color: #1ce783 ;
    font-size: large;

}
.titles-container > p:nth-child(2){
    color: white;
    font-size: 50px ;
}
.titles-container > p:nth-child(3){
    color: white;
    text-align: center;
    font-size: large;


}

.shows-container{
    height: 50%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.card{
    background-color: black;
    height: 80%;
    width: 21%;
    border-radius: 10px;
 
}

.shows-container > div:nth-child(1){
    background: url(/Assets/images/family-guy.png);
    background-size:cover;
}


.shows-container > div:nth-child(2){
    background: url(/Assets/images/prey.jpeg);
    background-size: cover;
}
.shows-container > div:nth-child(3){
    background: url(/Assets/images/only-murders-in-the-building.png);
    background-size: cover;
}
.shows-container > div:nth-child(4){
    background: url(/Assets/images/the-sopranos.png);
    background-size: cover;
}
.get-hulu-container{
    justify-content: space-around;
    height: 27%;
    width: 100%;
}
.get-hulu-container > p {
    font-weight: bold;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    color: white;
}
.get-hulu-container > p:nth-child(1) {
    color: #1ce783 ;
    font-size: medium;
}
.get-hulu-container > p:nth-child(2){
    text-align: center;
    font-size: 50px;
}
.get-hulu-container > p:nth-child(3){
    text-align: center;
    font-weight: 200;

}
.get-hulu-container > p:nth-child(5){
    text-align: center;
    font-size: xx-small;
    color: grey;
}

.get-hulu-container > button{
    font-weight: bold;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    background-color: #1ce783;
    width: 12.5%;
    height: 14%;
    border-radius: 5px;
}

.live-sports{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url('/Assets/images/sports-bg.jpeg');
    background-size:cover;
    align-items: center;
    justify-content: center;
}

.custom-ul{
    list-style: none;
    color: white;
    width: 45%;
    justify-content: space-between;

}

.custom-ul > li {
    font-weight: bold;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    color: white;
}
.custom-ul > li:nth-child(2){
    opacity: 60%;
}
.custom-ul > li:nth-child(3){
    opacity: 60%;
}

.live-container{
    width: 65%;
    height: 65%;
    justify-content: flex-start;
}

.empty{
    background-color: white;
    width: 10%;
    height: 4px;
    margin-top: 10px;
}
.image-live{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100px;

}

.sports{
    background-color: #1ce783;
    height: 170vh;
}

.icons{
    justify-content: space-around;
    width: 30%;
}

.live-sports-tab{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height:75%;
}

.live-sports-tab > p {
    font-weight: bold;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    color: white;
}

.live-sports-tab > p:nth-child(1){
    font-size: 50px;
}

.live-sports-tab > p:nth-child(2){
    font-weight: 200;
    font-size: 20px;
}

.live-sports-tab > p:nth-child(4){
    font-size: xx-small;
    font-weight: 200;
    color:white;
    opacity: 60%;

}
